* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}


body {
    background-color: #636360;
}




header {
    padding: 0px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
  }

  header nav {
    margin: 0px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 5px 40px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: #242323;
    border-radius: 10px;
    text-shadow: none;
  }







/* Hero Section Styling START */
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/headerimg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.7;
}

.herotag {
  position: absolute;
  bottom: 5px;
  right: 150px;
  font-size: 25px;
}
/* Hero Section Styling END */


.section-title {
  margin: auto;
  text-align: center;
  font-size: 35px;
}

.content-grid1 {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  padding: 50px;
  grid-gap: 20px;
  border: solid;
  border-color:darkgray;
}



    .content-grid2 {
      max-width: 940px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat (3, 1fr);
      grid-template-rows: repeat(3, 100px);
      grid-gap: 10px;
    }

.grid-item {
  background-color: orange;
  border: solid;
  padding: 1em;
  color: black;
}

.imgstandard {
  margin: auto;
  width: 50%;
  height: auto;
}

.imgfocus {
  margin: auto;
  width: 50px;
  height: auto;
}
