* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

body {
  background-color: #f5f3ec;
}



/* Header/Nav Section Styling START */
header {
    padding: 0px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
  }

  header nav {
    margin: 0px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 5px 40px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: #242323;
    border-radius: 10px;
    text-shadow: none;
  }
/* Header/Nav Section Styling END */



/* Hero Section Styling START */
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/headerimg2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
}

.herotag {
  position: absolute;
  bottom: 5px;
  right: 150px;
  font-size: 25px;
}
/* Hero Section Styling END */



/* Content/Grid Section Styling START */
.section-title {
  margin: auto;
  text-align: center;
  font-size: 35px;
  opacity: 0.7;
}

.content-grid1 {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  padding: 50px;
  grid-gap: 20px;
  /* border: solid;
  border-color:darkgray; */
}

.content-grid2 {
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 50px;
  grid-gap: 20px;
  border: solid;
  border-color:darkgray;
}

.sub-grid {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.content-grid3 {
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 50px;
  grid-gap: 20px;
  border: solid;
  border-color:darkgray;
}

.imgstandard {
  width: 50%;
  margin: auto;
}

.imgfocus {
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 50px;
}

.my-projects {
  margin: 100px;
  padding: 100px;
}

.contact-icons {
  font-size: 75px;
  color: rgba(98, 38, 122, 0.959);
  opacity: 0.7;
}

.contact-text {
  font-size: 25px;
}

/* Content/Grid Section Styling END */
